<div class ="container">
  <% if @boxes.empty? %>
    <p>You have no boxes.</p>
  <% else %>
    <div>
      <h2 class="title">Your boxes</h2>
    </div>
  <% end %>
</div>

<div class ="container">
  <% @boxes.each do |box| %>
    <div class="card-white">
      <%= box.name %>
      <br>
      <%= box.size.capitalize %>
      <br>
      <div class="comment">
        <%= box.comment %>
      </div>
      <br>
      <div class="item">
        <%= link_to 'Items', project_box_path(box.project_id, box.id) %>
      </div>
      <div class="edit">
        <%= link_to edit_box_path(box.id) do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <div class="delete">
        <%= link_to box_path(box.id), method: :delete, :data => {:confirm => 'Are you sure? '} do %>
          <i class="fas fa-minus-circle"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<br>
<%= link_to "New box", new_project_box_path %>
<br>
<br>
<%= link_to "Back", project_path(params[:project_id]) %>