<div class ="container">
  <% if @boxes.empty? %>
    <p>You have no boxes.</p>
  <% else %>
    <div>
      <h2 class="title">Your boxes</h2>
    </div>
  <% end %>
</div>

<div class ="container">
  <% @boxes.each do |box| %>
    <div class="card-white">
      <div class="box-card-item">
        <p><b>Box: </b><%= box.name %></p>
      </div>
      <div class="box-card-item">
        <p><b>Size: </b><%= box.size.capitalize %></p>
      </div>
      <div class="box-card-item">
        <p><b>Comments: </b><%= box.comment %></p>
      </div>
      <div class="box-card-item">
        <%= link_to 'Items', project_box_path(box.project_id, box.id) %>
      </div>
      <div class="edit">
        <%= link_to edit_box_path(box.id) do %>
          <i class="fas fa-edit fa-lg" style="color: #FF7A00"></i>
        <% end %>
      </div>
      <div class="delete">
        <%= link_to box_path(box.id), method: :delete, :data => {:confirm => 'Are you sure? '} do %>
          <i class="fas fa-minus-circle fa-lg" style="color: #FF7A00"></i>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newBoxModal">
  Add box
</button>
<br>
<br>
<%= link_to "Back", project_path(params[:project_id]) %>
</div>
<%= render "new" %>
