<div class ="container">
  <% if @boxes.empty? %>
    <p>You have no boxes.</p>
  <% else %>
    <h2 style=$headers-font;"color:$peachy-orange">Check out your boxes!</h2>
  <% end %>
</div>

<div class ="container">
  <% @boxes.each do |box| %>
    <div class="card">
      <%= box.name %>
      <br>
      <%= box.size %>
      <br>
      <p>Comments: <%= box.comment %></p>
      <%= link_to 'Items', project_box_path(box.project_id, box.id) %>
      <%= link_to "Edit", edit_box_path(box.id) %>
      <%= link_to "Delete", box_path(box.id), method: :delete, :data => {:confirm => 'Are you sure? '} %>

    </div>
  <% end %>
</div>

<br>
<%= link_to "New box", new_project_box_path %>
<br>
<br>
<%= link_to "Back", project_path(params[:project_id]) %>