<div class="container">
<%= simple_form_for([@project, @box]) do |f| %>
    <%= f.input :name %>
    <%= f.input :comment %>
    <%= f.input :size, collection: ["small", "medium", "large"] , as: :radio_buttons %>
    <%= f.input :packing_date, html5: true %>
    <%= f.submit class: 'btn btn-primary' %>
<% end %>
</div>
