<!--<%# if @boxes.empty? %> <p>You have no boxes.</p>  <%# end %>-->
<div class = "container">
<h1><%= @box.name %></h1>

<%= form_tag search_path, method: :get do %>
  <%= hidden_field :project,:id, value: @project.id %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    value: ""
  %>
  <%= submit_tag "Search", class: "btn btn-primary"%>
<% end %>

<br>

<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newItemModal">
  Add item  <i class="fas fa-plus-circle"></i>
</button>
<button type="button" class="btn btn-primary" id="QR">
<%= link_to "Print QR", "/projects/#{@box.project_id}/boxes/#{@box.id}/qr_show.pdf" %>
</button>
<br>

<br>
<%= @box.comment %>
<br>
<%= @box.size %>
<br>
<p>This box contains: </p>
<% @box.items.each do |item| %>
    <li><%= item.name %></li>
  <% end %>
</ul>

<br>
<%= link_to "Edit this box", edit_box_path(@box.id) %>
<br>
<%= link_to "Delete this box", box_path(@box.id), method: :delete, :data => {:confirm => 'Are you sure? '} %>
<br>
<br>
<%= link_to "Back", project_boxes_path %>
</div>

<%= render '/items/new' %>

