 <div class="container">
    <br>
    <td><strong>Box</strong>:<%= @box.name %></td>
   <br>
   <td>Comment:<%= @box.comment %></td>
   <br>
   <td>Size:<%= @box.size %></td>
   <br>
    <td>Full?<%= @box.full %></td>
    <br>
    <td>Packing date<%= @box.packing_date %></td>
    <td>Tag<%= @box.tags.first.name %></td>
</div>
