<div class = "container">
  <%= form_tag search_path, method: :get do %>
    <%= hidden_field :project,:id, value: @project.id %>
    <%= text_field_tag :query,
                       params[:query],
                       class: "form-control mt-5",
                       value: ""
    %>
    <%= image_submit_tag("search.png", class: 'search_button', alt: 'Find') %>
  <% end %>

  <div class="d-flex justify-content-around">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newItemModal">
      Add item  <i class="fas fa-plus-circle" style="color:#FF7A00"></i>
    </button>
    <button type="button" class="btn btn-primary" id="QR">
      <%= link_to "Print QR", "/projects/#{@box.project_id}/boxes/#{@box.id}/qr_show.pdf" %>
    </button>
  </div>

  <div class="card-white">
    <h1><%= @box.name %></h1>
    <div class="box-card-item d-flex justify-content-around">
      <div><b>Size: </b><%= @box.size %></div>
      <div><b>Comment: </b><%= @box.comment %></div>
    </div>
    <div class="box-card-item">
      <div class ="container">
        <% if @box.items.empty? %>
          <p> You have no item without a box</p>
        <% end %>
        <% @box.items.each do |item| %>
          <div class="card-white">
            <div class="box-card-item">
              <p><b>Item: </b><%= item.name %></p>
            </div>
            <div class="box-card-item">
              <p><b>Comments: </b><%= item.comment %></p>
            </div>
            <div class="edit">
              <%= link_to edit_item_path(item.id) do %>
                <i class="fas fa-edit fa-lg" style="color: #FF7A00"></i>
              <% end %>
            </div>
            <div class="delete">
              <%= link_to item_path(item.id), method: :delete, :data => {:confirm => 'Are you sure? '} do %>
                <i class="fas fa-minus-circle fa-lg" style="color: #FF7A00"></i>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    </ul>
    <div class="edit">
      <%= link_to edit_box_path(@box) do %>
        <i class="fas fa-edit fa-lg" style="color: #FF7A00"></i>
      <% end %>
    </div>
    <div class="delete">
      <%= link_to box_path(@box), method: :delete, :data => {:confirm => 'Are you sure? '} do %>
        <i class="fas fa-minus-circle fa-lg" style="color: #FF7A00"></i>
      <% end %>
    </div>
  </div>
</div>
<br>
<%= render partial: "items/new", locals: {box: @box} %>

