<div class="main-container">
  <h1 class="py-4">Results</h1>
  <%= form_tag search_path, method: :get do %>
    <%= hidden_field :project,:id, value: params[:project][:id] %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control w-75 ml-2",
      value: ""
    %>
    <%= submit_tag "Search", class: "search-btn btn btn-primary mt-2" %>
  <% end %>


  <br>
  <!-- if boxes are available, render boxes orelse tell user no boxes found %> -->

  <!-- if items are available, render items orelse tell user no items found %> -->

  <div class="cards-in-search">
    <% @boxes.each do |box| %>
      <td><strong>Box</strong>:<%= box.name %></td>
      <br>
      <td>Comment: <%= box.comment %></td>
      <br>
      <td>Size: <%= box.size %></td>
      <br>
      <!--  <td>Full?<%= box.full %></td>
      <br> -->
    <% end%>


    <% @items.each do |item| %>
       <td><strong>item</strong>:<%= item.name %></td>
       <br>
       <td>Comment:<%= item.comment %></td>
       <br>
       <td>Box:<%= item.box.name %></td>
    <% end%>
    <br>
  </div>
</div>

