<div class="container">
<h1 class='mt-5'>Ready to get organized?</h1>
<br>
  <%= form_tag search_path, method: :get do %>
    <%= hidden_field :project,:id, value: @project.id %>
    <%= text_field_tag :query,
                       params[:query],
                       class: "form-control",
                       value: ""
    %>
    <%= image_submit_tag("search.png", class: 'search_button', alt: 'Find') %>
  <% end %>
<br>
<div class="card-icon-body">BOXES</div>
  <%= link_to project_boxes_path(@project.id) do %>
    <div class="card-icon-white">
      <div class="box-icon-item">
        <i class="fas fa-archive fa-8x" style="color: #FF7A00"></i>
      </div>
    </div>
  <% end %>
<div class="card-icon-body-items">UNASSIGNED ITEMS</div>
  <%= link_to project_items_path(@project.id) do %>
    <div class="card-icon-white-icons">
      <div class="box-icon-item">
        <i class="fas fa-bed fa-3x" style="color: #FF7A00"></i>
      </div>
      <div class="box-icon-item">
        <i class="fas fa-tv fa-3x" style="color: #FF7A00"></i>
      </div>
      <div class="box-icon-item">
        <i class="fas fa-bicycle fa-3x" style="color: #FF7A00"></i>
      </div>
      <div class="box-icon-item">
        <i class="fas fa-couch fa-3x" style="color: #FF7A00"></i>
      </div>
    </div>
  <% end %>
<div class="container padding-bottom">
  <div class="card-icon-body-items">SCAN</div>
    <%= link_to scan_path do %>
      <div class="card-scan">
        <div class="box-icon-item">
          <i class="fas fa-qrcode fa-8x" style="color: #FF7A00"></i>
        </div>
      </div>
    <% end %>
  </div>
</div>
