<div class="container">

<h1>This is the project show</h1>

<%= form_tag search_path, method: :get do %>
  <%= hidden_field :project,:id, value: @project.id %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    value: "Search your projects"
  %>
  <br>
  <%= submit_tag "Search", class: "btn btn-primary"%>
<% end %>

 <div class="container">
    <br>
    <p><strong>Name</strong><%= @project.name %></p>
</div>

<%= link_to 'See all boxes', project_boxes_path(@project.id) %>
<%= link_to 'See all items', project_items_path(@project.id) %>

<div class="container">
<div class="cards">
<% @project.boxes.each do |box| %>
 <tr>
   <td><strong>Box</strong>:<%= box.name %></td>
   <br>
   <td>Comment:<%= box.comment %></td>
   <br>
   <td>Size:<%= box.size %></td>
   <br>
    <td>Full?<%= box.full %></td>
    <br>
    <td>Packing date<%= box.packing_date %></td>
    <br>
</tr>
<br>
<% end%>
<br>
<p><strong>Items: </strong><% if @project.items.empty? %><%=@project.items.count %> </p>
<% end%>
<br>
<% @project.items.each do |item| %>
 <tr>
   <td><strong>item</strong>:<%= item.name %></td>
   <br>
   <td>Comment:<%= item.comment %></td>
    <br>
    <td>Packing date<%= item.packing_date %></td>
    <br>
</tr>
<br>
<% end%>
</div>
</div>

<br>

<%= link_to 'Add box', new_project_box_path(@project.id) %>
<%= link_to 'Add item', new_project_item_path(@project.id) %>


</div>


