<div class="container">
  <div class="text-center m-2 p-2 text-warning">
    <h3 class="my-5">Your unassigned items</h3>
  </div>
  <%= form_tag search_path, method: :get do %>
    <%= hidden_field :project,:id, value: @project.id %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      value: ""
    %>
    <%= image_submit_tag("search.png", class: 'search_button', alt: 'Find') %>
  <% end %>

  <div class="d-flex justify-content-around">
  <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newItemModal">
    Add item <i class="fas fa-plus-circle" style="color: #FF7A00"></i>
  </button>
</div>



  <div class ="container padding-bottom">
    <% if @items.empty? %>
      <p class="pt-5 text-center" id="empty"> You have no items</p>
    <% end %>

    <% @items.each do |item| %>
      <div class="card-white">
        <div class="box-card-item">
          <p><b>Item: </b><%= item.name %></p>
        </div>
        <div class="box-card-item">
          <p><b>Comments: </b><%= item.comment %></p>
        </div>
        <div class="edit">
          <%= link_to edit_item_path(item.id) do %>
            <i class="fas fa-edit fa-lg" style="color: #FF7A00"></i>
          <% end %>
        </div>
        <div class="delete">
          <%= link_to item_path(item.id), method: :delete, :data => {:confirm => 'Are you sure? '} do %>
            <i class="fas fa-minus-circle fa-lg" style="color: #FF7A00"></i>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%= render "new" %>
