<div class="container">
  <div class="text-center m-2 p-2 text-warning">
    <h3>Your items</h3>
  </div>
  <%= form_tag search_path, method: :get do %>
    <%= hidden_field :project,:id, value: @project.id %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control w-75",
      value: ""
    %>

    <%= image_submit_tag("search.png", class: 'search_button', alt: 'Find') %> 
  <% end %>
  <h1><button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newItemModal">
    Add item <i class="fas fa-plus-circle"></i>
  </button></h1>
  <br>
  <% @items.each do |item| %>
  <br>
    <%= item.name %>
    <br>
    <%= item.comment %>
    <br>
    <%= item.packing_date %>
    <br>
    <%= link_to "Edit this item", edit_item_path(item.id) %>
    <br>
    <%= link_to "Delete this item", item_path(item.id), method: :delete, :data => {:confirm => 'Are you sure? '} %>
  <% end %>
</div>

<%= render "new" %>
